// Colors
$primary: #FFE600;
$secondary: #3483FA;
$grayscale-60: #333333;
$grayscale-40: #666666;
$grayscale-20: #999999;
$bg-primary: #EEEEEE;
$bg-secondary: #FFFFFF;

// Sizes
$headerHeight: 50px;
$vhCalc: calc(100vh - 50px);